body {
    background-color: #121212;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: #1f1f1f;
}
.navbar-brand{
    font-size: 30px;
    border-bottom: 3px solid #ffbf00;
}
.navbar-brand:hover{
    transition: 0.3s ease;
    color: #ffc107 !important;
}
.nav-link {
    border-bottom: 3px solid #ffbf00;
    color: #ffffff !important;
    font-size: 20px;
}

.nav-link.active{
    color: #ffc107 !important;
}

.nav-link:hover {
    transition: 0.3s ease;
    color: #ffc107 !important;
}
.navbar .dropdown-menu {
    background-color: #1f1f1f;
    border-bottom: 2px solid #ffbf00;
}

.navbar .dropdown-item {
    color: #ffffff;
}

.navbar .dropdown-item:hover {
    transition: all 0.3s ease;
    color: #ffc107;
    background-color: #333;
}

.card {
    border-radius: 0.5rem;
    background-color: #1f1f1f;
    border: none;
    margin-bottom: 1rem;
}

.card img {
    max-width: 100%;
    filter: grayscale(90%);
}

.card img:hover {
    transition: 0.4s ease;
    filter: grayscale(0%);
}

.card-title {
    color: #ffc107;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.card-text {
    align-items: left;
    color: #cccbcb;
    margin-bottom: 0.5rem;
}

.card-text:hover {
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffc107 !important;
}

.social {
    padding-left: 15px;
}

.social-icons a i {
    margin: 0;
    padding: 0;
    color: #cccbcb;
    font-size: 1.2rem;
}

.social-icons a i:hover {
    transition: 0.3s ease;
    color: #ffc107;
}

.Portfolio-section {
    background-color: #1f1f1f;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.Portfolio-section h2 {
    padding-bottom: 8px;
    border-bottom: 3px solid #ffc107;
    font-size: 30px;
}

.Portfolio-section h2:hover {
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffc107;
}

.websites h1 {
    padding-top: 0.5rem;
    padding-bottom: 8px;
    font-size: 30px;
    color: #ffc107;
}

.websites h1:hover {
    transition: 0.3s ease;
    color: #ffffff;
}

.websites p {
    padding-bottom: 0.5rem;
    color: #cccbcb;
}

.websites p:hover {
    transition: 0.3s ease;
    color: #ffffff;
}

.websites img {
    width: 700px;
    height: 300px;
    border-radius: 0.5rem;
    max-width: 100%;
    margin-bottom: 1rem;
    /* filter: grayscale(100%); */
}

/* .websites img:hover {
    transition: 0.3s ease;
    filter: grayscale(0%);
} */
.websites a {
    color: #000;
    font-size: 20px;
}
.websites .btn {
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    padding: 10px 20px;
    border: none;
    background-color: #ffc107;
}
.websites .btn:hover{
    transition: 0.3s ease;
    background-color: #cccbcb;
    color: #000000;
}