body {
    background-color: #121212;
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: #1f1f1f;
}
.navbar-brand{
    font-size: 30px;
    border-bottom: 3px solid #ffbf00;
}
.navbar-brand:hover{
    transition: 0.3s ease;
    color: #ffc107 !important;
}
.nav-link {
    border-bottom: 3px solid #ffbf00;
    color: #ffffff !important;
    font-size: 20px;
}
.nav-link.active {
    color: #ffc107 !important;
}
.nav-link:hover {
    transition: 0.3s ease;
    color: #ffc107 !important;
}
.navbar .dropdown-menu {
    background-color: #1f1f1f;
    border-bottom: 2px solid #ffbf00;
}

.navbar .dropdown-item {
    color: #ffffff;
}

.navbar .dropdown-item:hover {
    transition: all 0.3s ease;
    color: #ffc107;
    background-color: #333;
}
.card {
    border-radius: 0.5rem;
    background-color: #1f1f1f;
    border: none;
    margin-bottom: 1rem;
}
.card img {
    max-width: 100%;
    filter: grayscale(90%);
}
.card img:hover{
    transition: 0.4s ease;
    filter: grayscale(0%);
}
.card-title {
    color: #ffc107;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.card-text {
    align-items: left;
    color: #cccbcb;
    margin-bottom: 0.5rem;
}
.card-text:hover{
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffc107 !important;
}
.social{
    padding-left: 15px;
}
.social-icons a i {
    margin: 0;
    padding: 0;
    color: #cccbcb;
    font-size: 1.2rem;
}
.social-icons a i:hover{
    transition: 0.3s ease;
    color: #ffc107;
}

.about-section , .work{
    background-color: #1f1f1f;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.about-section h2{
    padding-bottom: 8px;
    border-bottom: 3px solid #ffc107;
    font-size: 30px;
}
.about-section h2:hover{
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffc107;
}
.about-section p{
    color: #cccbcb;
    font-size: 17px;
}
.about-section p:hover{
    transition: 0.3s ease;
    color: #ffffff;
}
.work h4{
    font-size: 30px;
    padding-bottom: 8px;
    border-bottom: 3px solid #ffc107;
}
.work h4:hover{
    cursor: pointer;
    transition: 0.3s ease;
    color: #ffc107;
}
.list-group{
    display: flex;
}
.list-group li span{
    font-style:oblique;
    color: #ffbf00;
}
.list-group-item {
    color: #cccbcb;
    background-color: #292929;
    border: none;
    margin-bottom: 0.5rem;
}
.list-group-item:hover{
    transition: all 0.3s ease;
    color: #ffffff;
}